@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");

.chat__container__root {
  display: flex;
  background-color: transparent;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  padding-top: 120px;

  .sidebar__unfolded {
    font-size: 20px;
    font-family: "Do Hyeon";
    color: white;
  }
}

.chatContainerWrapper {
  display: flex;
  font-family: "Do Hyeon";
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: 100vh;
  background: #ffb8b8;
  border-radius: 0px 30px 30px 0px;
  margin: 0;
  z-index: 2;
  position: absolute;
}

.chatContainerScroll {
  overflow: scroll;
  height: 70vh;
  &::-webkit-scrollbar {
    display: none;
  }
}

.chatContainerText {
  font-style: normal;
  font-weight: normal;
  color: #ffffff;
  font-size: 40px;
  line-height: 50px;
}

.chatInput {
  position: fixed;
  width: 305px;
  height: 116px;
  bottom: 11vh;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 10px;
}

input {
  background-color: inherit;
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  &:focus {
    outline: none;
  }
}
.sidebar-hidden {
  display: none;
}

.sidebar__unfolded {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100%;
  position: absolute;
  background-color: #ffb8b8;
  z-index: 2;
  cursor: pointer;
}
